# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/server/config/config.env
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build

# misc
.DS_Store
.env
/clienct/.env.local
/clienct/.env.development.local
/clienct/.env.test.local
/clienct/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
